<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">


<h:head>
                <title>Test</title>
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <link type="text/css" rel="stylesheet" href="/WebPart1/faces/javax.faces.resource/theme.css?ln=primefaces-glass-x" />
<style>
	.ui-widget-content, .ui-messages-info-detail{
		font-size: 9px !important;
	}
	.ui-column-title{
		font-size: 9px !important;
		text-align: left;
		font-weight: bold;
	}	
	.ui-button-text{
		font-size: 9px !important;
	}
</style>
</h:head>

<h:body>
<H1>CRUD users</H1>

<h:form id="form">

	<h:panelGrid columns="2" cellpadding="5">
        <p:outputLabel for="id" value="Id: " />
        <p:inputMask id="id" value="#{userAddView.id}" />
 
        <p:outputLabel for="name" value="Name:" />
        <p:inputText id="name" size="20" value="#{userAddView.name}" />
        
        <p:outputLabel for="description" value="Description" />
        <p:inputText id="description" size="20" value="#{userAddView.description}" />
 
 <p:commandButton id="submitButton" value="Add" action="#{userAddView.processAction}"/>
 
 </h:panelGrid>
 </h:form>

</h:body>

</html>